<!DOCTYPE html> 
  
<html> 
<head> 
    <title>For loop in Flask</title> 
</head> 
<body> 
<form action ="http://localhost:5000/input" method = "post">
    <fieldset style = "width: 150">
            <p>Enter Expression: </p>
            <p><input type ="text" name = "Expression"/></p>
            <p>Enter Range: (default: -1,1)</p>
            <p><input type ="text" name = "Range"/></p>
            <p>Derivative at a point: (default: x = 1, y = 1)</p>
            <p><input type ="text" name = "Point"/></p>
            <p>Calculate value: (default:  x = 1, y = 1)</p>
            <p><input type ="text" name = "Calculation"/></p>
            <p><input type ="submit" name = "action" value = "Compute" /> </p>
    </fieldset>
</form>
  
</body> 
</html> 